.contactHeadings {
  font-size: 21px;
  font-weight: 600 !important;
  text-align: center;
}
.ContactInput {
  font-size: 18px;
  padding: 10px 25px;
  border: 0;
  outline: 0;
  backdrop-filter: blur(25px);
  background-color: rgba(150, 150, 150, 0.4);
  filter: saturate(1.8);
  opacity: 1;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}
.ContactInput::placeholder {
  color: white;
}
textarea.ContactInput {
  width: 578.4px;
}
.contactButton {
  width: 578.4px;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 600;
}
.contactInfoContainer {
  width: 70vw;
  height: 250px;
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
  flex-wrap: wrap;
}
.contactCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex: 1 0 0;
}
.contactCardIcon {
  background-color: #05979d;
  color: white;
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
.contactCardIcon > svg {
  margin-bottom: 0;
}
.namesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  flex-wrap: wrap;
  text-align: center;
}
.ContactTextContainer {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-between;
  padding-bottom: 15px;
  text-align: center;
}
.adress {
  padding: 0 20px;
  padding-bottom: 45px;
}
