.ServicesPageContainer {
  height: 500px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
      132deg,
      rgba(0, 0, 0, 0.19380252100840334) 22%,
      rgba(0, 0, 0, 0.40948879551820727) 52%
    ),
    url("../assets/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.ServicesHeader {
  /* margin-top: -90px; */
  font-size: 50px;
}
.serviceImg {
  width: 150px;
}
.serviceImg > img {
  max-width: 100%;
}
.serviceCardContainer {
  width: 450px;
  height: 575px;
  padding: 5px 15px;
  background-color: rgb(240, 240, 240);
  border: 2px solid black;
  margin-bottom: 50px;
  border-radius: 20px;
}
